// Add styles here to override default book styles

// Colors
$purple22: #222337;
$purlple82: #824fd3;
$purpleAF: #fafaff;

$yellowFF: #ffc000;

$greyCC: #cccccc;
$grey88: #888888;
$grey66: #666666;
$grey33: #333333;
$greyE8: #ebe9f1;

$white: #fff;
$black: #000;

//Montserrat Fonts
@font-face {
    font-family: "Montserrat Semi-Bold";
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/Montserrat/montserrat-semibold-webfont.woff2?#iefix) format("woff2"),
        url(/fonts/Montserrat/montserrat-semibold-webfont.woff) format("woff"),
        url(/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat Medium";
    font-weight: 500;
    font-style: normal;
    src: url(/static/fonts/Montserrat/montserrat-medium-webfont.woff2?#iefix) format("woff2"),
        url(../fonts/Montserrat/montserrat-medium-webfont.woff) format("woff"),
        url(../fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
}

//Source Sans Pro Fonts
@font-face {
    font-family: SourceSansProRegular;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/SourceSansPro/sourcesanspro-regular-webfont.woff2?#iefix) format("woff2"),
        url(/fonts/SourceSansPro/sourcesanspro-regular-webfont.woff) format("woff"),
        url(/fonts/SourceSansPro/SourceSansPro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: SourceSansProSemibold;
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/SourceSansPro/sourcesanspro-semibold-webfont.woff2?#iefix) format("woff2"),
        url(/fonts/SourceSansPro/sourcesanspro-semibold-webfont.woff) format("woff"),
        url(/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf) format("truetype");
}
//Source Code Pro Fonts
@font-face {
    font-family: "SourceCodePro SemiBold";
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/SourceCodePro/sourcecodepro-semibold-webfont.woff?#iefix) format("woff"),
        url(/fonts/SourceCodePro/sourcecodepro-semibold-webfont.woff) format("woff"),
        url(/fonts/SourceCodePro/SourceCodePro-SemiBold.ttf) format("truetype");
}

@function calculateRem($size) {
    @return ($size / 16) + rem;
}

@mixin font-size($sizeValue: 14, $lineHeight: 25) {
    font-size: $sizeValue + px;
    font-size: calculateRem($sizeValue);
    line-height: $lineHeight + px;
}

// SCSS
body {
    .book-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        background: $purple22;
        height: 156px;
        margin-bottom: 0;

        img {
            width: 200px;
            margin-left: 80px;
        }
        .navbar {
            overflow: hidden;
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;

            li {
                font-family: SourceSansProRegular;
                float: left;
                @include font-size(17);
                color: $greyCC;
                text-align: center;
                margin-right: 55px;
                text-decoration: none;

                &.dropdown {
                    float: left;
                    overflow: hidden;

                    .dropbtn {
                        @include font-size(17);
                        color: $greyCC;
                        border: none;
                        outline: none;
                        padding: 14px 16px;
                        background-color: inherit;
                        font-family: inherit;
                        margin: 0;

                        &:hover {
                            color: $yellowFF;
                            cursor: pointer;
                        }
                    }

                    .dropdown-content {
                        display: none;
                        position: fixed;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        top: 94px;
                        padding: 0;

                        li {
                            float: none;
                            color: $purple22;
                            padding: 12px 28px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                            width: 100%;

                            &:hover {
                                background-color: #ddd;
                            }
                        }
                    }
                }

                &:hover,
                &.dropdown:hover {
                    color: #fd6;
                    cursor: pointer;
                }

                &.dropdown:hover .dropdown-content {
                    display: block;
                }
            }
        }

        .search {
            padding-right: 50px;
            width: 400px;
            height: 60px;
            .search-wrapper {
                position: relative;
                input {
                    background: $greyCC;
                    border-radius: 58px;
                    height: 60px;

                    &::placeholder {
                        font-size: 18px;
                        line-height: 26px;
                        color: $grey88;
                        font-family: "SourceSansProRegular";
                        padding-left: 10px;
                    }
                }
                i {
                    position: absolute;
                    color: $purlple82;
                    right: 23px;
                    top: 18px;
                    font-size: 24px;
                }
            }
        }
    }
    .book-menu {
        .book-menu-content {
            background: none;

            .book-brand {
                display: none;
            }
            ul {
                li {
                    &.book-section-flat {
                        border-bottom: 1px solid $greyE8;
                        padding-left: 68px;
                        > a {
                            text-transform: uppercase;
                            color: $purlple82;
                            font-family: SourceSansProSemibold;
                        }
                    }

                    &:last-of-type {
                        a {
                            margin: 26px 0px;
                        }
                    }

                    a {
                        text-decoration: none;
                        padding: 0 8px;
                        &:hover,
                        &.active {
                            background: $purlple82;
                            color: $white;
                            border-radius: 6px;
                        }
                    }
                    label {
                        &:hover {
                            background: $purlple82;
                            border-radius: 6px;
                            a {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .book-toc {
        .book-toc-content {
            padding-left: 30px;
            padding-top: 60px;
            .toc-page-title {
                span {
                    font-family: SourceSansProSemibold;
                    @include font-size(15, 18);
                    color: $grey33;
                    text-transform: uppercase;
                    margin-bottom: 12px;
                    display: block;
                }
            }
            ul {
                li {
                    a {
                        font-family: "SourceSansProRegular";
                        text-decoration: none;
                        @include font-size(14, 17);
                        color: $grey66;

                        &:hover {
                            background: $purpleAF;
                        }
                        &:active {
                            color: $purlple82;
                        }
                    }
                }
            }
        }
    }
    .book-page {
        padding: 59px 57px;

        .page-title {
            font-family: "Montserrat Semi-Bold";
            @include font-size(36,46);
            color: $purlple82;
            padding-bottom: 32px;
        }
    }

    // General Setting
    aside {
        background: $purpleAF !important;
        height: 83vh;
        min-width: 343px;

        > div:first-child {
            top: 156px !important;
            background: $purpleAF !important;
            width: 21rem !important;
            font-family: SourceSansProRegular;
            @include font-size(17);
            color: $grey33;
        }
    }
    main {
        padding: 0 !important;
        margin: 0;
    }
}
